# CSV Exercise

In [10]:
import pandas
import pandasql

Assume you will be reading in a csv file with the same columns that the #Lahman baseball data set has -- most importantly, there are columns called `nameFirst` and `nameLast`.

1. Write a function that reads a csv located at "path_to_csv" into a pandas dataframe and adds a new column called `nameFull` with a player's full name. For example, for Hank Aaron, `nameFull` would be `Hank Aaron`
1. Write the data in the pandas dataFrame to a new csv file located at #path_to_new_csv

In [6]:
def add_full_name(path_to_csv, path_to_new_csv):
    dataframe = pandas.read_csv(path_to_csv)
    dataframe['nameFull'] = dataframe['nameFirst'] + ' ' + dataframe['nameLast']
    dataframe.to_csv(path_to_new_csv)

add_full_name('Master.csv', 'new_master.csv')

# Write Your Own Simple Query

Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns by replacing spaces with underscores and setting all characters to lowercase, so the column names more closely resemble columns names one might find in a table.

Select out the first 50 values for `registrar` and `enrolment_agency` in the aadhaar_data table using SQL syntax. 
Note that `enrolment_agency` is spelled with one "l". Also, the order of the select does matter. Make sure you select registrar then enrolment agency in your query.

In [11]:
def select_first_50(filename):
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
    q = """
    SELECT registrar, enrolment_agency FROM aadhaar_data LIMIT 50;
    """
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

select_first_50('aadhaar_data.csv')

         registrar             enrolment_agency
0   Allahabad Bank            Tera Software Ltd
1   Allahabad Bank            Tera Software Ltd
2   Allahabad Bank  Vakrangee Softwares Limited
3   Allahabad Bank  Vakrangee Softwares Limited
4   Allahabad Bank  Vakrangee Softwares Limited
5   Allahabad Bank  Vakrangee Softwares Limited
6   Allahabad Bank  Vakrangee Softwares Limited
7   Allahabad Bank  Vakrangee Softwares Limited
8   Allahabad Bank  Vakrangee Softwares Limited
9   Allahabad Bank  Vakrangee Softwares Limited
10  Allahabad Bank  Vakrangee Softwares Limited
11  Allahabad Bank  Vakrangee Softwares Limited
12  Allahabad Bank  Vakrangee Softwares Limited
13  Allahabad Bank  Vakrangee Softwares Limited
14  Allahabad Bank  Vakrangee Softwares Limited
15  Allahabad Bank  Vakrangee Softwares Limited
16  Allahabad Bank  Vakrangee Softwares Limited
17  Allahabad Bank  Vakrangee Softwares Limited
18  Allahabad Bank  Vakrangee Softwares Limited
19  Allahabad Bank  Vakrangee Softwares Limited
20  Allahabad Bank  Vakrangee Softwares Limited
21  Allahabad Bank  Vakrangee Softwares Limited
22  Allahabad Bank  Vakrangee Softwares Limited
23  Allahabad Bank  Vakrangee Softwares Limited
24  Allahabad Bank  Vakrangee Softwares Limited
25  Allahabad Bank  Vakrangee Softwares Limited
26  Allahabad Bank  Vakrangee Softwares Limited
27  Allahabad Bank  Vakrangee Softwares Limited
28  Allahabad Bank  Vakrangee Softwares Limited
29  Allahabad Bank  Vakrangee Softwares Limited
30  Allahabad Bank  Vakrangee Softwares Limited
31  Allahabad Bank  Vakrangee Softwares Limited
32  Allahabad Bank  Vakrangee Softwares Limited
33  Allahabad Bank  Vakrangee Softwares Limited
34  Allahabad Bank  Vakrangee Softwares Limited
35  Allahabad Bank  Vakrangee Softwares Limited
36  Allahabad Bank  Vakrangee Softwares Limited
37  Allahabad Bank  Vakrangee Softwares Limited
38  Allahabad Bank  Vakrangee Softwares Limited
39  Allahabad Bank  Vakrangee Softwares Limited
40  Allahabad Bank  Vakrangee Softwares Limited
41  Allahabad Bank  Vakrangee Softwares Limited
42  Allahabad Bank  Vakrangee Softwares Limited
43  Allahabad Bank  Vakrangee Softwares Limited
44  Allahabad Bank  Vakrangee Softwares Limited
45  Allahabad Bank  Vakrangee Softwares Limited
46  Allahabad Bank  Vakrangee Softwares Limited
47  Allahabad Bank  Vakrangee Softwares Limited
48  Allahabad Bank  Vakrangee Softwares Limited
49  Allahabad Bank  Vakrangee Softwares Limited

# Write Your Own Complex Query

Write a query that will select from the aadhaar_data table how many men and how many women over the age of 50 have had aadhaar generated for them in each district.

`aadhaar_generated` is a column in the Aadhaar Data that denotes the number who have had aadhaar generated in each row of the table.

Note that in this quiz, the SQL query keywords are case sensitive. For example, if you want to do a sum make sure you type `sum` rather than `SUM`.

The possible columns to select from aadhaar data are:

1. registrar
2. enrolment_agency
3. state
4. district
5. sub_district
6. pin_code
7. gender
8. age
9. aadhaar_generated
10. enrolment_rejected
11. residents_providing_email,
12. residents_providing_mobile_number

In [12]:
def aggregate_query(filename):
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
    q = """
    SELECT gender, district, sum(aadhaar_generated) FROM aadhaar_data 
    WHERE age > 50 GROUP BY gender, district
    """
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution 

aggregate_query('aadhaar_data.csv')

    gender           district  sum(aadhaar_generated)
0        F         Ahmadnagar                      45
1        F        Ahmed Nagar                       0
2        F          Ahmedabad                       1
3        F              Ajmer                      27
4        F              Akola                       5
5        F          Alirajpur                      71
6        F          Allahabad                      15
7        F              Alwar                      14
8        F             Ambala                       7
9        F           Amravati                       0
10       F           Amritsar                      30
11       F            Anuppur                     101
12       F        Ashok Nagar                       1
13       F         Aurangabad                      19
14       F           Balaghat                     287
15       F          Bangalore                     433
16       F    Bangalore Rural                       9
17       F              Banka                       0
18       F           Banswara                      28
19       F              Baran                       5
20       F            Barwani                      34
21       F           Bathinda                      43
22       F               Beed                      25
23       F            Belgaum                      59
24       F            Bellary                      65
25       F              Betul                      41
26       F          Bhagalpur                       0
27       F           Bhandara                       4
28       F          Bharatpur                      94
29       F           Bhilwara                      50
..     ...                ...                     ...
498      M              Sirsa                     158
499      M            Solapur                      80
500      M          Sonbhadra                       7
501      M            Sonipat                      14
502      M        South Delhi                       5
503      M      South Tripura                       0
504      M   South West Delhi                       4
505      M  Sri Muktsar Sahib                      21
506      M         Tarn Taran                     125
507      M              Thane                     144
508      M          Tikamgarh                     265
509      M     Tiruvannamalai                       1
510      M               Tonk                      49
511      M             Tumkur                       1
512      M            Udaipur                      16
513      M             Ujjain                      66
514      M             Umaria                     137
515      M                Una                       3
516      M             Valsad                       2
517      M            Vellore                       0
518      M            Vidisha                      84
519      M         Viluppuram                      18
520      M             Wardha                       1
521      M             Washim                      33
522      M         West Delhi                       3
523      M     West Singhbhum                     227
524      M       West Tripura                      24
525      M             Yadgir                      12
526      M       Yamuna Nagar                     149
527      M           Yavatmal                      54

[528 rows x 3 columns]

# API Exercise

In [17]:
import json
import requests

# Get your own
API_KEY = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

def api_get_request(url):
    url = 'http://ws.audioscrobbler.com/2.0/?method=geo.gettopartists&country=spain&format=json&api_key=' + API_KEY
    data = requests.get(url).text
    data = json.loads(data)
    return data['topartists']['artist'][0]['name']

# Imputation Exercise

Pandas dataframes have a method called `fillna(value)`, such that you can pass in a single value to replace any NAs in a dataframe or series. You can call it like this: 
```
dataframe['column'] = dataframe['column'].fillna(value)
```

Using the `numpy.mean` function, which calculates the mean of a numpy array, impute any missing values in our Lahman baseball data sets 'weight' column by setting them equal to the average weight.

You can access the `weight` colum in the baseball data frame by calling `baseball['weight']`

In [19]:
import numpy

def imputation(filename):
    baseball = pandas.read_csv(filename)
    avg_weight = numpy.mean(baseball['weight'])
    baseball['weight'] = baseball['weight'].fillna(avg_weight)
    return baseball

imputation('Master.csv')

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.000000,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.000000,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.000000,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.000000,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.000000,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
5,abadfe01,1985.0,12.0,17.0,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220.000000,73.0,L,L,2010-07-28,2016-09-25,abadf001,abadfe01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,...,Abadie,John W.,192.000000,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,...,Abbaticchio,Edward James,170.000000,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,...,Abbey,Bert Wood,175.000000,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,...,Abbey,Charles S.,169.000000,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,...,Abbott,Leander Franklin,190.000000,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,...,Abbott,Harry Frederick,180.000000,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
12,abbotgl01,1951.0,2.0,16.0,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200.000000,78.0,R,R,1973-07-29,1984-08-08,abbog001,abbotgl01
13,abbotje01,1972.0,8.0,17.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190.000000,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01
14,abbotji01,1967.0,9.0,19.0,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200.000000,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
15,abbotku01,1969.0,6.0,2.0,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180.000000,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01
16,abbotky01,1968.0,2.0,18.0,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200.000000,76.0,L,L,1991-09-10,1996-08-24,abbok001,abbotky01
17,abbotod01,1888.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,...,Abbott,Ody Cleon,180.000000,74.0,R,R,1910-09-10,1910-10-15,abboo101,abbotod01
18,abbotpa01,1967.0,9.0,15.0,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185.000000,75.0,R,R,1990-08-21,2004-08-07,abbop001,abbotpa01
19,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,...,Aber,Albert Julius,195.000000,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01
20,abercda01,1850.0,1.0,2.0,USA,OK,Fort Towson,1939.0,11.0,11.0,...,Abercrombie,Francis Patterson,186.375596,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980.0,7.0,15.0,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215.000000,75.0,R,R,2006-04-04,2008-09-28,aberr001,abercre01
22,abernbi01,1929.0,1.0,30.0,USA,CA,Torrance,2006.0,2.0,19.0,...,Abernathie,William Edward,190.000000,70.0,R,R,1952-09-27,1952-09-27,aberb101,abernbi01
23,abernbr01,1977.0,9.0,23.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185.000000,73.0,R,R,2001-06-25,2005-09-29,aberb001,abernbr01
24,abernte01,1921.0,10.0,30.0,USA,NC,Bynum,2001.0,11.0,16.0,...,Abernathy,Talmadge Lafayette,210.000000,74.0,R,L,1942-09-19,1944-04-29,abert102,abernte01
25,abernte02,1933.0,3.0,6.0,USA,NC,Stanley,2004.0,12.0,16.0,...,Abernathy,Theodore Wade,215.000000,76.0,R,R,1955-04-13,1972-09-30,abert101,abernte02
26,abernwo01,1915.0,2.0,1.0,USA,NC,Forest City,1994.0,12.0,5.0,...,Abernathy,Virgil Woodrow,170.000000,72.0,L,L,1946-07-28,1947-04-17,aberw101,abernwo01
27,aberscl01,1921.0,8.0,28.0,USA,IL,Chicago,1973.0,6.0,23.0,...,Aberson,Clifford Alexander,200.000000,72.0,R,R,1947-07-18,1949-05-09,aberc101,aberscl01
28,ablesha01,1883.0,10.0,4.0,USA,TX,Terrell,1951.0,2.0,8.0,...,Ables,Harry Terrell,200.000000,74.0,R,L,1905-09-04,1911-05-05,ableh101,ablesha01
29,abnersh01,1966.0,6.0,17.0,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190.000000,73.0,R,R,1987-09-08,1992-10-03,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19075,zimmejo02,1986.0,5.0,23.0,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,225.000000,74.0,R,R,2009-04-20,2016-10-01,zimmj003,zimmejo02
19076,zimmero01,1913.0,9.0,13.0,USA,PA,Pine Grove,1991.0,11.0,22.0,...,Zimmerman,Roy Franklin,187.000000,74.0,L,L,1945-08-27,1945-09-30,zimmr101,zimmero01
19077,zimmery01,1984.0,9.0,28.0,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,225.000000,75.0,R,R,2005-09-01,2016-10-02,zimmr001,zimmery01
19078,zinkch01,1979.0,8.0,26.0,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190.000000,73.0,R,R,2008-08-12,2008-08-12,zinkc001,zinkch01
19079,zinkwa01,1898.0,11.0,21.0,USA,MA,Pittsfield,1964.0,6.0,12.0,...,Zink,Walter Noble,165.000000,72.0,R,R,1921-07-06,1921-07-19,zinkw101,zinkwa01
19080,zinnfr01,1865.0,12.0,21.0,USA,PA,Phoenixville,1936.0,5.0,12.0,...,Zinn,Frank Patrick,150.000000,68.0,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
19081,zinngu01,1887.0,2.0,13.0,USA,WV,Holbrook,1949.0,10.0,6.0,...,Zinn,Guy,170.000000,70.0,L,R,1911-09-11,1915-09-16,zinng101,zinngu01
19082,zinnji01,1895.0,1.0,21.0,USA,AR,Benton,1991.0,2.0,26.0,...,Zinn,James Edward,195.000000,72.0,L,R,1919-09-04,1929-08-25,zinnj101,zinnji01
19083,zinsebi01,1918.0,1.0,6.0,USA,NY,Astoria,1993.0,2.0,16.0,...,Zinser,William Francis,185.000000,73.0,R,R,1944-08-19,1944-08-26,zinsb101,zinsebi01
19084,zinteal01,1968.0,5.0,19.0,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200.000000,74.0,B,R,2002-06-18,2004-10-03,zinta001,zinteal01
19085,zipfebu01,1938.0,11.0,18.0,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200.000000,75.0,L,R,1961-07-26,1962-09-30,zipfb101,zipfebu01
19086,ziskri01,1949.0,2.0,6.0,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200.000000,73.0,R,R,1971-09-08,1983-09-21,ziskr101,ziskri01
19087,zitoba01,1978.0,5.0,13.0,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205.000000,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01
19088,zitzmbi01,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,...,Zitzmann,William Arthur,175.000000,70.0,R,R,1919-04-27,1929-09-25,zitzb101,zitzmbi01
19089,zmiched01,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,...,Zmich,Edward Albert,180.000000,72.0,L,L,1910-07-23,1911-06-01,zmice101,zmiched01
19090,zobribe01,1981.0,5.0,26.0,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210.000000,75.0,B,R,2006-08-01,2016-10-02,zobrb001,zobribe01
19091,zoccope01,1977.0,2.0,6.0,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200.000000,74.0,L,R,2003-09-05,2003-09-28,zoccp001,zoccope01
19092,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,...,Zoldak,Samuel Walter,185.000000,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
19093,zoskyed01,1968.0,2.0,10.0,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175.000000,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01
19094,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,...,Zuber,William Henry,195.000000,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
19095,zuberjo01,1969.0,12.0,10.0,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190.000000,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01
19096,zuletju01,1975.0,3.0,28.0,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230.000000,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01
19097,zumayjo01,1984.0,11.0,9.0,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215.000000,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01
19098,zuninmi01,1991.0,3.0,25.0,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220.000000,74.0,R,R,2013-06-12,2016-10-02,zunim001,zuninmi01
19099,zupcibo01,1966.0,8.0,18.0,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220.000000,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01
19100,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.000000,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19101,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.000000,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19102,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.000000,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19103,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.000000,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19104,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.000000,75.0,R,R,2015-09-04,2016-08-24,zycht001,zychto01